<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elie's Photography</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="header-content">
                <span class="logo">Elie's Photography</span>
                <button class="menu-toggle" aria-label="Toggle menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </button>
            <nav class="nav-container">
                <ul class="nav">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="portfolio-dropdown">
                        <a href="{% url 'portfolio' %}">Portfolio</a>
                        <div class="portfolio-dropdown-content">
                            <a href="{% url 'wedding' %}">Wedding</a>
                            <a href="{% url 'portrait' %}">Portrait</a>
                            <a href="{% url 'street' %}">Street</a>
                            <a href="{% url 'nature' %}">Nature</a>
                        </div>       
                    </li>
                    <li><a href="{% url 'prices' %}">Prices</a></li>
                    <li><a href="{% url 'contacts' %}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <script src="{% static 'js/navigation.js' %}"></script>
</body>
</html>