<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photography</title>
    <link rel ="stylesheet" href = "{% static 'css/style.css'%}">
</head>
<body>
    <header>
        <span class = 'logo'>Photography</span>
        <ul class = 'nav'>
            <li><a href = "{%url 'index' %}">Home</a></li>
            <li><a href = "{%url 'portfolio'%}">Portfolio</a></li>
            <li><a href = "{%url 'prices'%}">Prices</a></li>
            <li><a href = "{%url 'contacts'%}">Contacts</a></li>
        </ul>
    </header>
</body>
</html>